VITE_SUPABASE_URL=https://pdbznhvfahftwxwcbxrx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBkYnpuaHZmYWhmdHd4d2NieHJ4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyOTkyNzIsImV4cCI6MjA5NDg3NTI3Mn0.N06CzXSE6N-AXwkie5pN7nTPBvLoqT02OeMGs6xNnbQ
VITE_VAYVYX_INSTALLER_URL=